<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<appSettings>
		<add key="cipherpassword" value="123" />

		<add key="SiteRoot" value="/" />

		<add key="GoogleReCaptchaServerKey" value="6Lcop_cUAAAAAN6uZnPPDMOmj0XL_qhQJ4T7-4HJ" />


		<add key="siteurl" value="http://widexv2.creamobile.com" />
		<add key="sitelogo" value="/assets/images/logo.png" />
		<add key="Mail:SenderName" value="WIDEX" />
		<add key="Mail:UserName" value="test@akarenet.com" />
		<add key="Mail:Hosting" value="smtp.yandex.com.tr" />
		<add key="Mail:PassWord" value="Aka!1234" />
		<add key="Mail:Port" value="587" />
		<add key="Mail:SSL" value="true" />
		<add key="Mail:ReceiverAddress" value="info@widex.com.tr" />


	</appSettings>
	<connectionStrings>
		<!--<add name="SqlConnetionString" connectionString="server=localhost;port=3306;database=hat;uid=root;pwd=2310;" />-->
		<add name="SqlConnetionString" connectionString="server=94.73.145.160;port=3306;database=alitoklu_net_aldagsaat;uid=alito_master;pwd=nd3#Va49;"/>
	</connectionStrings>
</configuration>