
@{
    ViewData["Title"] = "Hoşgeldiniz";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-look icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                Genel Bakış
                <div class="page-title-subheading">
                    Genel durumunuz ve olanlar hakkında kısa bilgilendirmeler
                </div>
            </div>
        </div>
    </div>
</div>

